In [1]:
example=(1,"Sharath",3.12,False)
print(example)
print(len(example))
print(type(example))
print(example.count(1))
print(example[0:3])
print(example[3])
print(example[-1])
number=(2,4,7,9,3,9,3,2)
add=(2,4,5,7)
print(number+add)
print((add)*4)

(1, 'Sharath', 3.12, False)
4
<class 'tuple'>
1
(1, 'Sharath', 3.12)
False
False
(2, 4, 7, 9, 3, 9, 3, 2, 2, 4, 5, 7)
(2, 4, 5, 7, 2, 4, 5, 7, 2, 4, 5, 7, 2, 4, 5, 7)

In [2]:
example={1,1,2,3,3,4,5,}
print(example)
print(type(example))
print(len(example))
example.add(10)
print(example)
example.add("bkc")
print(example)
example={1,1,2,3,4,5,6,7,}
print(example)
print(len(example))
example.add("bkc")
print(example)
example.add("5.67")
print(example)
example.add("True")
print(example)
print(example.remove(4))
print(example.pop())
print(example)

{1, 2, 3, 4, 5}
<class 'set'>
5
{1, 2, 3, 4, 5, 10}
{'bkc', 1, 2, 3, 4, 5, 10}
{1, 2, 3, 4, 5, 6, 7}
7
{'bkc', 1, 2, 3, 4, 5, 6, 7}
{'bkc', 1, 2, 3, 4, 5, 6, 7, '5.67'}
{'bkc', 1, 2, 3, 4, 5, 6, 7, '5.67', 'True'}
None
bkc
{1, 2, 3, 5, 6, 7, '5.67', 'True'}

In [3]:
frist={1,2,3,4,4,2}
second={3,5,4,6}
print(frist|second)
print(frist.union(second))
print(frist&second)
print(frist.intersection(second))
print(frist.difference(second))
print(frist-second)
print(second-frist)
print(second.difference(frist))

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{3, 4}
{3, 4}
{1, 2}
{1, 2}
{5, 6}
{5, 6}

In [4]:
dict={"roll_number" :201,
                  "name"  :"anand",
                "address" :"raichur",
                   "cgpa" :2.12,
                 "course" :"mca",
                    "year" :2022}


print(dict)
print(len(dict))
dict["gender"]="male"
print(dict)
dict["mobile number"]=9663957928,
print(dict)
dict["collge name"]="bk college"
print(dict)
print(dict.get(""))
dict["age"]=25
print(dict["age"])
dict.pop("year")
print(dict)
dict.popitem()
print(dict)
print(dict.keys())
print(dict.values())
print(dict.items())
print(dict.clear())

{'roll_number': 201, 'name': 'anand', 'address': 'raichur', 'cgpa': 2.12, 'course': 'mca', 'year': 2022}
6
{'roll_number': 201, 'name': 'anand', 'address': 'raichur', 'cgpa': 2.12, 'course': 'mca', 'year': 2022, 'gender': 'male'}
{'roll_number': 201, 'name': 'anand', 'address': 'raichur', 'cgpa': 2.12, 'course': 'mca', 'year': 2022, 'gender': 'male', 'mobile number': (9663957928,)}
{'roll_number': 201, 'name': 'anand', 'address': 'raichur', 'cgpa': 2.12, 'course': 'mca', 'year': 2022, 'gender': 'male', 'mobile number': (9663957928,), 'collge name': 'bk college'}
None
25
{'roll_number': 201, 'name': 'anand', 'address': 'raichur', 'cgpa': 2.12, 'course': 'mca', 'gender': 'male', 'mobile number': (9663957928,), 'collge name': 'bk college', 'age': 25}
{'roll_number': 201, 'name': 'anand', 'address': 'raichur', 'cgpa': 2.12, 'course': 'mca', 'gender': 'male', 'mobile number': (9663957928,), 'collge name': 'bk college'}
dict_keys(['roll_number', 'name', 'address', 'cgpa', 'course', 'gender', 'mobile number', 'collge name'])
dict_values([201, 'anand', 'raichur', 2.12, 'mca', 'male', (9663957928,), 'bk college'])
dict_items([('roll_number', 201), ('name', 'anand'), ('address', 'raichur'), ('cgpa', 2.12), ('course', 'mca'), ('gender', 'male'), ('mobile number', (9663957928,)), ('collge name', 'bk college')])
None

In [5]:

Employe={"Employe_id":1001,
"Employ_name":"anand",
         "contact_number":9731834621,
         "salary":300000,
         "Email_id":"anand@gamil.com",
         "company":"google",
         "Employe_habbit":"gaming"}
print(Employe)
print(len(Employe))
Employe["gender"]="Male"
print(Employe.get("name"))
print(Employe.pop("company"))
Employe["Age"]=33
print(Employe["Age"])
Employe.popitem()
print(Employe)
print(Employe.keys())
print(Employe.values())
print(Employe.items())

print(Employe.clear())
print(type(Employe))

{'Employe_id': 1001, 'Employ_name': 'anand', 'contact_number': 9731834621, 'salary': 300000, 'Email_id': 'anand@gamil.com', 'company': 'google', 'Employe_habbit': 'gaming'}
7
None
google
33
{'Employe_id': 1001, 'Employ_name': 'anand', 'contact_number': 9731834621, 'salary': 300000, 'Email_id': 'anand@gamil.com', 'Employe_habbit': 'gaming', 'gender': 'Male'}
dict_keys(['Employe_id', 'Employ_name', 'contact_number', 'salary', 'Email_id', 'Employe_habbit', 'gender'])
dict_values([1001, 'anand', 9731834621, 300000, 'anand@gamil.com', 'gaming', 'Male'])
dict_items([('Employe_id', 1001), ('Employ_name', 'anand'), ('contact_number', 9731834621), ('salary', 300000), ('Email_id', 'anand@gamil.com'), ('Employe_habbit', 'gaming'), ('gender', 'Male')])
None
<class 'dict'>

In [15]:
a=10
b=3
print(type(a/b))
a,b,c=2.5,3.5,a+b
print(c)
print(type(a))
print(type(b))
print(type(c))

True