In [ ]:
a,b,c=25,35,12
if a>b and a>c:
  print("a is big")
if b>a and b>c:
    print("b is big")
else:
    print("c is big")

b is big

In [ ]:
a,b,c=100,200,-500
if a>b and a>c:
  print("a is big")
if b>a and b>c:
    print("b is big")
else:
    print("c is big")

b is big

In [ ]:
a,b,c=25,35,12
if a>b and a>c:
  print("a is big",a)
if b>a and b>c:
    print("b is big",b)
else:
    print("c is big",c)

b is big 35

In [ ]:
a,b,c=25,35,12
if a<b and a<c:
  print("a is small",a)
if b<a and b<c:
    print("b is small",b)
else:
    print("c is small",c)

c is small 12

In [ ]:
num=int(input("Enter number value:"))
if num>0:
 if num== 0:
    print("Zero value")
      else:
    print("Positive number")
      else:
    print("Negetive number")

Enter number value:-55
Negetive number

In [ ]:
#write a program arithmetic operatop using switch statement
x,y=10,20
option=input("enter your choice option:")
match option :
  case'+':
    print("sum of values",x+y)
  case'-':
    print("subtraction of values",x-y)
  case'*':
    print("multiplication of values",x*y)
  case'/':
    print("division of values",x/y)
  case'%':
    print("mod of values",x%y)
  case'_':
    print("invalid operator")

enter your choice option:+
sum of values 30

In [ ]:
#write a program arithmetic operatop using switch statement
x,y=10,20
option=input("enter your choice option:")
match option :
  case'+':
    print("sum of values",x+y)
  case'-':
    print("subtraction of values",x-y)
  case'*':
    print("multiplication of values",x*y)
  case'/':
    print("division of values",x/y)
  case'%':
    print("mod of values",x%y)
  case'_':
    print("invalid operator")

enter your choice option:-
subtraction of values -10

In [ ]:
#write a program arithmetic operatop using switch statement
x,y=10,20
option=input("enter your choice option:")
match option :
  case'+':
    print("sum of values",x+y)
  case'-':
    print("subtraction of values",x-y)
  case'*':
    print("multiplication of values",x*y)
  case'/':
    print("division of values",x/y)
  case'%':
    print("mod of values",x%y)
  case'_':
    print("invalid operator")

enter your choice option:%
mod of values 10

In [ ]:
#write a program arithmetic operatop using switch statement
x,y=10,20
option=input("enter your choice option:")
match option :
  case'+':
    print("sum of values",x+y)
  case'-':
    print("subtraction of values",x-y)
  case'*':
    print("multiplication of values",x*y)
  case'/':
    print("division of values",x/y)
  case'%':
    print("mod of values",x%y)
  case'_':
    print("invalid operator")

enter your choice option:/
division of values 0.5

In [ ]:
#write a program arithmetic operatop using switch statement
x,y=10,20
option=input("enter your choice option:")
match option :
  case'+':
    print("sum of values",x+y)
  case'-':
    print("subtraction of values",x-y)
  case'*':
    print("multiplication of values",x*y)
  case'/':
    print("division of values",x/y)
  case'!=':
    print("x not equal to y",x!=y)
  case'_':
    print("invalid operator")

enter your choice option:!=
x not equal to y True

In [ ]:
month=int(input("Enter a month number"))
match month:
    case 1 : print("jan")
    case 2 : print("feb")
    case 3 : print("mar")
    case 4 : print("apr")
    case 5 : print("may")
    case 6 : print("jun")
    case 7 : print("july")
    case 8 : print("agu")
    case 9 : print("sep")
    case 10: print("oct")
    case 11: print("nov")
    case 12: print("dec")

Enter a month number8
agu

In [ ]:
i=1
while i<=60:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60

In [ ]:
num = 5
i =1
while i <=10 :
    print("5 * ",i,"=",num*i)
    i = i + 1

5 *  1 = 5
5 *  2 = 10
5 *  3 = 15
5 *  4 = 20
5 *  5 = 25
5 *  6 = 30
5 *  7 = 35
5 *  8 = 40
5 *  9 = 45
5 *  10 = 50

In [ ]:
num =153
rem =0
Sum=0
temp=num
while num > 0:
    rem=num % 10
    Sum=Sum + rem * rem* rem
    num=num//10
if temp==Sum :
   print("Armstrong number")
else:
    print("Not Armstrong number")

Armstrong number

In [ ]:
num =12345
rem=0
rev=0
temp=num

while num > 0:
    rem=num%10
    rev=rev*10+rem
    num=num // 10
print("Reverse number is:",rev)

Reverse number is: 54321

In [ ]:
#print even number between 1 to 100
i = 2
while i <= 100 :
    print(i,end =" ")
    i+=2

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [ ]:
#print even number between 1 to 100
i = 1
while i <= 100 :
    print(i,end =" ")
    i+=2

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

In [ ]:
num,a,b=10,0,1
i = 0
while i <=num:
    print(a, end=" ")
    a,b = b,a+b
    i+=1

0 1 1 2 3 5 8 13 21 34 55

In [ ]:
num = int(input("Enter a number value :"))
count = 0
i = 1
while i <=num:
    if num % i==0:
        count+=1
    i+=1

if count ==2:
    print("Prime number")
else:
    print("Not Prime number")

Enter a number value :7
Prime number

In [ ]:
num = 10
i = 1
while num >= i :
    print(num, end=" ")
    num-=1

10 9 8 7 6 5 4 3 2 1

In [64]:
colours=['blue','red','pink','black']
print(type(colours))

for i in colours:
  print(i)

<class 'list'>
blue
red
pink
black

In [68]:
name = "KLE BK BCA COLLEGE in chikodi"
rev = ""
for i in name :
    rev = i + rev
print(rev)

idokihc ni EGELLOC ACB KB ELK

In [70]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [73]:
sum = 0
for i in range(1,11):
    sum+=i
    print("sum of N Natural numbers is ",sum)
    print("2 *",i,"=",num*i)

sum of N Natural numbers is  1
2 * 1 = 10
sum of N Natural numbers is  3
2 * 2 = 20
sum of N Natural numbers is  6
2 * 3 = 30
sum of N Natural numbers is  10
2 * 4 = 40
sum of N Natural numbers is  15
2 * 5 = 50
sum of N Natural numbers is  21
2 * 6 = 60
sum of N Natural numbers is  28
2 * 7 = 70
sum of N Natural numbers is  36
2 * 8 = 80
sum of N Natural numbers is  45
2 * 9 = 90
sum of N Natural numbers is  55
2 * 10 = 100

In [74]:
num = 2
for i in range(1,33):
    print("2 *",i,"=",num*i)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
2 * 11 = 22
2 * 12 = 24
2 * 13 = 26
2 * 14 = 28
2 * 15 = 30
2 * 16 = 32
2 * 17 = 34
2 * 18 = 36
2 * 19 = 38
2 * 20 = 40
2 * 21 = 42
2 * 22 = 44
2 * 23 = 46
2 * 24 = 48
2 * 25 = 50
2 * 26 = 52
2 * 27 = 54
2 * 28 = 56
2 * 29 = 58
2 * 30 = 60
2 * 31 = 62
2 * 32 = 64

In [75]:
fact = 1
for i in range(1,6):
    fact = fact* i
print("factorial number is :",fact)

factorial number is : 120

In [76]:
# Fiboncacci series/ number using for loop
# 0 1 1 2 3 5 8 13 21 34 55 89 144
a, b = 0,1
for i in range(1,14):
    print(a,end=" ")
    a, b = b, a+b

0 1 1 2 3 5 8 13 21 34 55 89 144