In [ ]:
sentense = "python programming languge"
count = 0
for ch in sentense :
    if ch in "aeiou" :
        count +=1
print("total vowels is ", count)

total vowels is  7

In [ ]:
# area of circle
base = 4
height = 5
triangel = 0.5 * base * height
print("area of triangel is ", triangel)

area of triangel is  10.0

In [ ]:
base = 5
height = 2
tringel = 5 * base*height
print("area of tringel is",tringel)

area of tringel is 50

r = 5
area = 3.14 * r **2
print("area of circle is :", area)

In [5]:
numbers = [10,25,7,99,56]
lar = numbers[0]
for i in numbers :
    if i > lar :
       lar = i
print(lar,"is a largest numbers in this list")

99 is a largest numbers in this list

In [6]:
sentense = "bachelore of computer science frist semester section c"
count = 0
for ch in sentense :
    if ch in "bcdfghjklmnpqrstvwxyz" :
       count +=1
print("total consonents is ", count)

total consonents is  29

In [8]:
bikes =["rx 100","gt 650","ninja","splender","bajaja","pulsar","ns 200","m 80"]
for bike in bikes:
    if bike =="ns 200":
     break
print(bikes)

['rx 100', 'gt 650', 'ninja', 'splender', 'bajaja', 'pulsar', 'ns 200', 'm 80']

In [9]:
fruits = ("Apple","Orange","Mango","strawberry","dragon","Greeps")
for fruit in fruits :
    if fruit == "Greeps" :
        continue
    print(fruit)

Apple
Orange
Mango
strawberry
dragon

In [10]:
mobiles = ["vivo","redmi","oppo","vivo","oppo","iqee","vivo","oppo","vivo","1 plus"]
for mobile in mobiles:
    if mobile =="vivo":
        continue

print(mobiles)

['vivo', 'redmi', 'oppo', 'vivo', 'oppo', 'iqee', 'vivo', 'oppo', 'vivo', '1 plus']

In [18]:
movies =["kgf","chhava","bahubali","saiyar","rrr","kalki","toxic"]
for movie in movies:
  if movie=="rrr" :
     pass
  print(movies)

['kgf', 'chhava', 'bahubali', 'saiyar', 'rrr', 'kalki', 'toxic']
['kgf', 'chhava', 'bahubali', 'saiyar', 'rrr', 'kalki', 'toxic']
['kgf', 'chhava', 'bahubali', 'saiyar', 'rrr', 'kalki', 'toxic']
['kgf', 'chhava', 'bahubali', 'saiyar', 'rrr', 'kalki', 'toxic']
['kgf', 'chhava', 'bahubali', 'saiyar', 'rrr', 'kalki', 'toxic']
['kgf', 'chhava', 'bahubali', 'saiyar', 'rrr', 'kalki', 'toxic']
['kgf', 'chhava', 'bahubali', 'saiyar', 'rrr', 'kalki', 'toxic']

In [20]:
things ={"mobile","laptop","monitor","tab","book","pen","paper"}
for thing in things :
    if thing == "mobile":
        continue
    print(things)

{'laptop', 'pen', 'mobile', 'paper', 'tab', 'monitor', 'book'}
{'laptop', 'pen', 'mobile', 'paper', 'tab', 'monitor', 'book'}
{'laptop', 'pen', 'mobile', 'paper', 'tab', 'monitor', 'book'}
{'laptop', 'pen', 'mobile', 'paper', 'tab', 'monitor', 'book'}
{'laptop', 'pen', 'mobile', 'paper', 'tab', 'monitor', 'book'}
{'laptop', 'pen', 'mobile', 'paper', 'tab', 'monitor', 'book'}

In [24]:
for i in range(5):
    for j in range(5):
        print("1,2,3,4,5,6,",end=" ")
    print()

1,2,3,4,5,6, 1,2,3,4,5,6, 1,2,3,4,5,6, 1,2,3,4,5,6, 1,2,3,4,5,6,
1,2,3,4,5,6, 1,2,3,4,5,6, 1,2,3,4,5,6, 1,2,3,4,5,6, 1,2,3,4,5,6,
1,2,3,4,5,6, 1,2,3,4,5,6, 1,2,3,4,5,6, 1,2,3,4,5,6, 1,2,3,4,5,6,
1,2,3,4,5,6, 1,2,3,4,5,6, 1,2,3,4,5,6, 1,2,3,4,5,6, 1,2,3,4,5,6,
1,2,3,4,5,6, 1,2,3,4,5,6, 1,2,3,4,5,6, 1,2,3,4,5,6, 1,2,3,4,5,6,

In [25]:
for i in range(5):
    for j in range(5):
        print(i,end=" ")
    print()

0 0 0 0 0
1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4

In [26]:
for i in range(5):
    for j in range(5):
        print(j,end=" ")
    print()

0 1 2 3 4
0 1 2 3 4
0 1 2 3 4
0 1 2 3 4
0 1 2 3 4

for i in range(5,1):
    for j in range(i):
        print(j,end=" ")
    print()

In [29]:
for i in range(11,1,-1):
    for j in range(i):
        print(j,end=" ")
    print()

0 1 2 3 4 5 6 7 8 9 10
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8
0 1 2 3 4 5 6 7
0 1 2 3 4 5 6
0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1

In [34]:
for i in range(5):
    for j in range(0,i+1):
        print(" ",end=" ")
    for j in range(5):
        print("*",end=" ")
    print()

  * * * * *
    * * * * *
      * * * * *
        * * * * *
          * * * * *

In [42]:
for i in range(5):
    for j in range(0,i+1):
        print(" ",end=" ")
    for j in range(5):
        print("##",end=" ")
    print()

  ## ## ## ## ##
    ## ## ## ## ##
      ## ## ## ## ##
        ## ## ## ## ##
          ## ## ## ## ##

In [43]:
for i in range(5):
    for j in range(i+1,5):
        print(" ",end=" ")
    for j in range(5):
        print("*",end=" ")
    print()

        * * * * *
      * * * * *
    * * * * *
  * * * * *
* * * * *

In [44]:
row=5
col=5
for i in range(0,row):
  for i in range(0,col):
    print("*",end=" ")
  print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [50]:
num=7
for i in range(0,num):
    for j in range(0,num-i-1):
        print(" ",end=" ")
    for j in range(0,i*2+1):
        print(chr(65+j),end=" ")
    print()

            A
          A B C
        A B C D E
      A B C D E F G
    A B C D E F G H I
  A B C D E F G H I J K
A B C D E F G H I J K L M

In [49]:
num=7
for i in range(0,num):
    for j in range(0,num-i-1):
        print(" ",end=" ")
    for j in range(0,i*2+1):
        print(chr(97+j),end=" ")
    print()

            a
          a b c
        a b c d e
      a b c d e f g
    a b c d e f g h i
  a b c d e f g h i j k
a b c d e f g h i j k l m

In [51]:
num=7
for i in range(0,num):
    for j in range(0,num-i-1):
        print(" ",end=" ")
    for j in range(0,i*2+1):
        print(chr(23+j),end=" ")
    print()

            
            
            
          
        
             !
           ! " #

In [55]:
num=7
for i in range(0,num):
    for j in range(0,num-i-1):
        print(" ",end=" ")
    for j in range(0,i*2+1):
        print("*",end=" ")
    print()
for i in range(0,num):
  for j in range(0,i):
    print(" ",end=" ")
  for j in range(0,(num-i)*2-1):
    print("*",end=" ")
  print('')

            *
          * * *
        * * * * *
      * * * * * * *
    * * * * * * * * *
  * * * * * * * * * * *
* * * * * * * * * * * * *
* * * * * * * * * * * * *
  * * * * * * * * * * *
    * * * * * * * * *
      * * * * * * *
        * * * * *
          * * *
            *

In [61]:
def Example(roll_num,name,section,department,college):
  print(f"my name is {name},i'm studying {department} in {college} college. My roll_num is {roll_num} and section {section}")
Example(101,"ANAND",'A',"BCA","KLE")

my name is ANAND,i'm studying BCA in KLE college. My roll_num is 101 and section A

In [63]:
def fun(name,game,time):
  print(f"I'm {name};i'm playing {game} at {time} time")
fun(time = "Evening",name ="anup",game = "cricket")

I'm anup;i'm playing cricket at Evening time

In [66]:
def laptop(name = "Lenovo"):
  print("My laptop is:",name)
laptop("itel")
laptop("HP")
laptop()
laptop("Asus")

My laptop is: itel
My laptop is: HP
My laptop is: Lenovo
My laptop is: Asus