In [4]:
#example sum of numbes using *args
def add(*args):
   total=0
   for num in args :
    total+=num
   print("total values is:",total)


add(10,5)

total values is: 15

In [5]:
#example sum of numbes using *args
def add(*args):
   total=0
   for num in args :
    total+=num
   print("total values is:",total)


add(10,5)
add(5,4,9)

total values is: 15
total values is: 18

In [6]:
#example sum of numbes using *args
def add(*args):
   total=0
   for num in args :
    total+=num
   print("total values is:",total)


add(10,5)
add(5,4,9)
add(10,46,14,20)

total values is: 15
total values is: 18
total values is: 90

In [10]:
def print_details(**kwargs):
  for key,value in kwargs.items():
    print(f"{key}={value}")
print_details(name='anup',age=25,city='ingali')

name=anup
age=25
city=ingali

In [13]:
def details(**kwargs):
  for key,value in kwargs.items():
    print(f'My detailsmis {key} and {value}')

details(course="BCA",section='c',college="BK colege")
details(place="belagum")
details(roll_num=39,T_Subject=8)
details(laptop="HP",O_S="windows",year=2022,version="windows 11")

My detailsmis course and BCA
My detailsmis section and c
My detailsmis college and BK colege
My detailsmis place and belagum
My detailsmis roll_num and 39
My detailsmis T_Subject and 8
My detailsmis laptop and HP
My detailsmis O_S and windows
My detailsmis year and 2022
My detailsmis version and windows 11

In [16]:
i=1
fact=1
while i<6:
    fact=fact*i
    i=i+1
print(fact)

120

In [20]:
def fact(num):
    if num== 0 or num== 1:
        return 1
    else:
       return num*fact(num-1)
(fact(5))

120

In [26]:
def Sum(num):
    if num==0:
       return num
    else:
      return num+Sum(num-1)
Sum(10)

55

In [29]:
def fibo(num):
  if num<=1:
    return num
  else:
    return fibo(num-1)+fibo(num-2)
for i in range(11):
    print(fibo(i),end=" ")

0 1 1 2 3 5 8 13 21 34 55

In [33]:
Name= "vasu"

print(Name[:4])

vasu

In [42]:
class Fruit:
  colour="orange"
  price=250
  teste="sweet"
  shape="circle"
  def juce(self):
    print("good")
orange = Fruit()
    print("orange colour is",orange.colour)
orange.juice()
    print(orange.price)

orange colour is orange
good
250

In [51]:
class fan :
    colour="black"
    wings=3
    c_name="bajaj"
    price=1500
    warrenty="2 years"
    def start(self):
        print("when click on button it'll start")
    def speed(self):
        print("besed on condition it'll move fast")
    def stop(self):
        print("when click on off button it'll stop")

obj=fan()
print(obj.c_name+" "+obj.warrenty)
obj.stop()
obj.start()

bajaj 2 years
when click on off button it'll stop
when click on button it'll start

In [52]:
class bank :
    def __init__(self,balance):
        self.balance = balance


    def Deposit(self,amount):
        self.balance += amount

    def withdraw(self,amount):
        if amount <= self.balance:
            self.balance -= amount
            print("transaction successfully")
        else:
            print("insufficient balance")

    def re_balance(self):
        return self.balance

obj = bank(1000)
print(obj.balance)
obj.Deposit(500)
print(obj.balance)
obj.withdraw(700)
print(obj.re_balance())
obj.Deposit(1000)
print("current total balance is",obj.balance)
obj.withdraw(2000)
print(obj.re_balance())
obj.withdraw(1500)
print("current total balance is",obj.balance)

1000
1500
transaction successfully
800
current total balance is 1800
insufficient balance
1800
transaction successfully
current total balance is 300

In [56]:
class Student:
    def __init__(self, name, marks, place):
        self.__name = name
        self.__marks = marks
        self.place = place

    def set_method(self, name, marks):
        self.__name = name
        self.__marks = marks

    def get_method(self):
        return self.__name + " " + str(self.__marks)

obj = Student("anand", 72, "Ingali")
obj.set_method("anup", 69)
print(obj.get_method())

anup 69

In [57]:
#1) single inheritance
class parent :
    def work(self):
        print("my parents are doing forming")

class children(parent):
    def study(self):
        print("i'm studing BCA in BK college" )

ch = children()
ch.work()
ch.study()

my parents are doing forming
i'm studing BCA in BK college

In [58]:
class father :
    def Hi(self):
        print("my father is first hero")

class mother :
    def hello(self):
        print("my mother is house wife")


class child(father,mother):
    def bye(self):
        print("i'm working as a freelancer")

obj = child()
obj.Hi()
obj.hello()
obj.bye()

my father is first hero
my mother is house wife
i'm working as a freelancer

In [59]:
class grand_parents:
    def former(self):
        print("######")

class parents(grand_parents):
    def house(self):
        print("********")

class child(parents):
    def jolly(self):
        print("%%%%%%%%%")

# Create an object of class child
obj = child()
obj.house()   # From parents class
obj.jolly()   # From child class
obj.former()  # From grand_parents class

********
%%%%%%%%%
######

In [60]:
class parents :
    def business(self):
        print("my parents are doing business")


class child1(parents) :
    def study(self):
        print("i'm studing bca")


class child2(parents) :
    def study(self):
        print("i'm studing puc")


ch = child1()
ch.business()
ch.study()

obj = child2()
obj.business()
obj.study()

my parents are doing business
i'm studing bca
my parents are doing business
i'm studing puc

In [61]:
class a :
    def hi(self):
        print("hiiiiiiii")

class b(a) :
    def hello(self):
        print("helooooooo")

class c(a) :
    def bye(self):
        print("byeeeeeeee")

class d(b,c):
    def good(self):
        print("gooooooood")


obj = d()
obj.hi()
obj.hello()
obj.bye()
obj.good()

hiiiiiiii
helooooooo
byeeeeeeee
gooooooood